{{define "title"}}About{{end}}
{{define "head"}}{{end}}
{{define "content"}}
<div class="container">
	<div class="page-header">
		<h1>{{template "title" .}}</h1>
	</div>
	<p>This project is a demo for a distributed Twitter Clone for the course 
	NYU Distributed Systems. The participants of this group are Anoop 
	(as11552@nyu.edu) and Bhavya (bv582@nyu.edu).</p>
	{{template "footer" .}}
</div>
{{end}}
{{define "foot"}}{{end}}